::ng-deep app-login{
    .main{
        background: #2C3E50; 
        background: -webkit-linear-gradient(to right, #4CA1AF, #2C3E50);
        background: linear-gradient(to right, #4CA1AF, #2C3E50); 
        padding: 3em 0em 3em 0em;
        border-radius: 50px;
        height: 50vh;        
    }
    mat-card-content{
        max-width: 500px;
        margin:  auto;
        padding-top: 10%;
        text-align: center;
    }
    mat-form-field{
        width: 100%;
    }
    .login-button{
        width: 45%;
    }
    .header{

        text-align: center;
        h2{
            color: #fff;
            font-size: 30px;
        }
    
    }
    .profile{
        position: relative;
    }

    .user-image{
        height: 180px;
        width: 180px;
        position: absolute;
        top: -198px;
        left: -87px;
    }

    @media screen and (max-width: 768px) {
        .main{
            height: 100vh;
            border-radius: 0;
        }
        mat-card-content{
            padding-top: 0px;
        }
    }
}


