/* You can add global styles to this file, and also import other style files */

@import url('https://fonts.googleapis.com/css2?family=Blinker:wght@300&family=Mitr:wght@400;500&display=swap');
html, body { height: 100%; }
body { margin: 0; font-family: 'Mitr', sans-serif;}

body.mat-typography{
    font-family: 'Mitr', sans-serif !important;
}

